{% extends "force/_cp/settings/_layout" %}

{% block actionButton %}
    <div class="buttons right">
        <a href="{{ url(continueEditingUrl ~ '/new') }}"
           class="btn submit add icon">{{ "New connection"|t('force') }}</a>
    </div>
{% endblock %}

{% set content %}
    <table id="connections" class="data fullwidth collapsible">
        <thead>
        <th scope="col">{{ "Name"|t('force') }}</th>
        <th scope="col">{{ "Handle"|t('force') }}</th>
        </thead>
        <tbody>
        {% if connections|length %}
            {% for connection in connections %}
                <tr data-id="{{ query.id }}" data-name="{{ connection.handle }}">
                    <th scope="row"
                        data-title="{{ 'Name'|t('force') }}">
                        <a href="{{ url(baseCpPath~'/'~connection.id) }}">
                            {{ connection.handle }}
                        </a>
                    </th>
                    <td data-title="{{ 'Handle'|t('force') }}">
                        <code>{{ connection.handle }}</code>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">
                    {{ "No queries exist yet."|t('force') }}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endset %}
