{% extends "force/_cp/_layout" %}

{% set content %}
    <table id="queries" class="data fullwidth collapsible">
        <thead>
        <th scope="col">{{ "Name"|t('force') }}</th>
        <th scope="col">{{ "Handle"|t('force') }}</th>
        </thead>
        <tbody>
        {% if objects|length %}
            {% for object in objects %}
                <tr data-id="{{ object.id }}" data-name="{{ object.name }}">
                    <th scope="row"
                        data-title="{{ 'Name'|t('force') }}">
                        <a href="{{ url(baseCpPath~'/'~object.id) }}">
                            {{ object.name }}
                        </a>
                    </th>
                    <td data-title="{{ 'Handle'|t('force') }}">
                        <code>{{ object.handle }}</code>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">
                    {{ "No Salesforce Objects exist yet."|t('force') }}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endset %}
