{% import "_includes/forms" as forms %}
{% set builder = field.query %}
{% set formId = field.id ~ 'query' %}
{% set resultsId = field.id ~ 'results' %}
{#<form id="{{ formId }}">#}

<h4>{{ value.query.build() }}</h4>

{#<a class="fieldtoggle" data-target="variables">{{ "Variables"|t('app') }}</a>#}
    {#<div id="variables" class="hidden">#}
        {#{% namespace 'variables' %}#}
            {#<table class="data fullwidth fixed-layout">#}
                {#<tbody>#}
                {#{% for key, value in builder.variables %}#}
                    {#<tr>#}
                        {#<td class="light">{{ '{{'~ key ~'}}' }}</td>#}
                        {#<td>#}
                            {#{{ forms.textField({#}
                                {#name: key,#}
                                {#id: key,#}
                                {#value: key == 'element' ? '<< this element >>': value,#}
                                {#disabled: key == 'element'#}
                            {#}) }}#}
                        {#</td>#}
                    {#</tr>#}
                {#{% endfor %}#}
                {#</tbody>#}
            {#</table>#}
        {#{% endnamespace %}#}
    {#</div>#}
    {#<code id="{{ resultsId }}"></code>#}

    {#<input type="submit" class="btn small" value="{{ 'Send Request'|t('app') }}">#}

{#</form>#}
{#{% js %}#}
    {#new Craft.ForceQuery(#}
        {#'#{{ formId|namespaceInputId|e('js') }}',#}
        {#'#{{ resultsId|namespaceInputId|e('js') }}',#}
    {#);#}
{#{% endjs %}#}

{#{{ field.soql }}#}

{#{{ dump(value.fetch()) }}#}