{% import "_includes/forms" as forms %}

{% if provider.id %}<input type="hidden" name="provider" value="{{ provider.id }}">{% endif %}

{% if not provider.enabled %}
    <div class="warning">
        <p>The Patron provider is not enabled and therefore not able to establish an active connection.</p>
    </div>
{% endif %}

{{ forms.textField({
    label: "Version"|t('force'),
    instructions: "The API version to use (ex: 'v41.0')"|t('force'),
    id: 'version',
    class: 'code',
    name: 'version',
    value: configuration.connection.settings.version ?? null,
    errors: configuration.connection.getErrors('settings'),
    required: true
}) }}

{{ forms.textField({
    label: "Client Id"|t('patron'),
    instructions: "The client/consumer Id assigned to you from the provider."|t('patron'),
    id: 'clientId',
    name: 'clientId',
    value: provider.clientId,
    errors: provider.getErrors('clientId'),
    required: true
}) }}

{{ forms.textField({
    label: "Client Secret"|t('patron'),
    instructions: "The client/consumer secret assigned to you from the provider."|t('patron'),
    id: 'clientSecret',
    name: 'clientSecret',
    type: 'password',
    value: provider.clientSecret,
    errors: provider.getErrors('clientSecret')
}) }}

{% namespace 'settings' %}
    {{ provider.getSettingsHtml() }}
{% endnamespace %}

